@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,400|Lato:400,700|Montserrat:500,400,300,600,800');


.checkout {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1137px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.checkout .nav {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -3px;
  height              : 79px;
  width               : 1450px;
  position            : absolute;
  margin              : 0;
  left                : -5px;
}
.checkout .nav .topnav {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 79px;
  width               : 1450px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.checkout .nav .topnav .rectangle8 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 79px;
  width               : 1450px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.checkout .nav .topnav .referlink {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 10px;
  height              : 54px;
  width               : 215px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
}
.checkout .nav .topnav .referlink .rectangle2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 54px;
  width               : 215px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 4px;
  border-color        : rgba(255, 255, 255, 1.0);
}
.checkout .nav .topnav .referlink .referlink1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 2px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  font-family         : "Didot-Bold", Helvetica, Arial, serif;
  font-size           : 38.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 49.0px;
}
.checkout .tile {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 185px;
  height              : 731px;
  width               : 597px;
  position            : absolute;
  margin              : 0;
  left                : 423px;
}
.checkout .tile .rectangle {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 731px;
  width               : 597px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.checkout .completeyourmember {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 119px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 461px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
.checkout .webback {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 341px;
  height              : 192px;
  width               : 192px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
}
.checkout .webback .bitmap {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 192px;
  width               : 192px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(-270deg); /* IE 9 */
  -webkit-transform   : rotate(-270deg); /* Chrome, Safari, Opera */
  transform           : rotate(-270deg);
}
.checkout .expires {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 394px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 468px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
.checkout .cvc {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 394px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 729px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
.checkout .billingaddress {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 506px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 468px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
.checkout .city {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 588px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 468px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
.checkout .state-view {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 589px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 783px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
.checkout .cardnumber {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 312px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 468px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
.checkout .cardholdername {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 230px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 468px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
.checkout .line {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 483px;
  height              : 3px;
  width               : 515px;
  position            : absolute;
  margin              : 0;
  left                : 463px;
}
.checkout .linecopy {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 767px;
  height              : 3px;
  width               : 515px;
  position            : absolute;
  margin              : 0;
  left                : 463px;
}
.checkout .zipcode {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 671px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 468px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
.checkout .group {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 830px;
  height              : 40px;
  width               : 199px;
  position            : absolute;
  margin              : 0;
  left                : 621px;
}
.checkout .group .rectangle21 {
  background-color    : rgba(0, 218, 193, 1.0);
  top                 : 0px;
  height              : 40px;
  width               : 199px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 8px;
}
.checkout .group .completecheckout {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 8px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.checkout .formfillrectanglecopy4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 263px;
  height              : 29px;
  width               : 454px;
  position            : absolute;
  margin              : 0;
  left                : 469px;
}
.checkout .formfillrectanglecopy4 .rectangle22 {
  background-color    : rgba(235, 235, 235, 1.0);
  top                 : 0px;
  height              : 29px;
  width               : 454px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 8px;
}
.checkout .formfillrectanglecopy8 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 539px;
  height              : 29px;
  width               : 454px;
  position            : absolute;
  margin              : 0;
  left                : 469px;
}
.checkout .formfillrectanglecopy8 .rectangle23 {
  background-color    : rgba(235, 235, 235, 1.0);
  top                 : 0px;
  height              : 29px;
  width               : 454px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 8px;
}
.checkout .formfillrectanglecopy9 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 622px;
  height              : 29px;
  width               : 272px;
  position            : absolute;
  margin              : 0;
  left                : 469px;
}
.checkout .formfillrectanglecopy9 .rectangle24 {
  background-color    : rgba(235, 235, 235, 1.0);
  top                 : 0px;
  height              : 29px;
  width               : 272px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 8px;
}
.checkout .formfillrectanglecopy10 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 622px;
  height              : 29px;
  width               : 96px;
  position            : absolute;
  margin              : 0;
  left                : 784px;
}
.checkout .formfillrectanglecopy10 .rectangle25 {
  background-color    : rgba(235, 235, 235, 1.0);
  top                 : 0px;
  height              : 29px;
  width               : 96px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 8px;
}
.checkout .formfillrectanglecopy11 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 704px;
  height              : 29px;
  width               : 144px;
  position            : absolute;
  margin              : 0;
  left                : 469px;
}
.checkout .formfillrectanglecopy11 .rectangle26 {
  background-color    : rgba(235, 235, 235, 1.0);
  top                 : 0px;
  height              : 29px;
  width               : 144px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 8px;
}
.checkout .formfillrectanglecopy5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 345px;
  height              : 29px;
  width               : 454px;
  position            : absolute;
  margin              : 0;
  left                : 469px;
}
.checkout .formfillrectanglecopy5 .rectangle27 {
  background-color    : rgba(235, 235, 235, 1.0);
  top                 : 0px;
  height              : 29px;
  width               : 454px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 8px;
}
.checkout .formfillrectanglecopy6 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 427px;
  height              : 29px;
  width               : 168px;
  position            : absolute;
  margin              : 0;
  left                : 469px;
}
.checkout .formfillrectanglecopy6 .rectangle28 {
  background-color    : rgba(235, 235, 235, 1.0);
  top                 : 0px;
  height              : 29px;
  width               : 168px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 8px;
}
.checkout .formfillrectanglecopy7 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 427px;
  height              : 29px;
  width               : 96px;
  position            : absolute;
  margin              : 0;
  left                : 730px;
}
.checkout .formfillrectanglecopy7 .rectangle29 {
  background-color    : rgba(235, 235, 235, 1.0);
  top                 : 0px;
  height              : 29px;
  width               : 96px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 8px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}